<div class="pizza-customization">
  <div class="row">
    <h3>Simple Pizza Ordering System</h3>
  </div>
  <div class="row">
    <form [formGroup]="pizzaForm">
      <div class="label-container">
        <label for="size">Select Size:</label>
        <select id="size" formControlName="size">
          <option *ngFor="let size of sizes" [value]="size.id">
            {{ size.description }} - ${{ size.price }}
          </option>
        </select>
      </div>

      <div class="row toppings-container">
        <div class="toppings-group">
          <h4>Vegetarian Toppings:</h4>
          <ng-container *ngFor="let topping of toppings">
            <div *ngIf="topping.toppingTypeId === 'veg'" class="topping">
              <input
                type="checkbox"
                [value]="topping.id"
                (change)="onToppingChange(topping.id, $event)"
              />
              {{ topping.description }} - ${{ topping.price }}
            </div>
          </ng-container>
        </div>
        <div class="toppings-group">
          <h4>Non-Vegetarian Toppings:</h4>
          <ng-container *ngFor="let topping of toppings">
            <div *ngIf="topping.toppingTypeId === 'non-veg'" class="topping">
              <input
                type="checkbox"
                [value]="topping.id"
                (change)="onToppingChange(topping.id, $event)"
              />
              {{ topping.description }} - ${{ topping.price }}
            </div>
          </ng-container>
        </div>
      </div>

      <div class="row">
        <button type="button" (click)="addToCart()">Add Pizza</button>
      </div>
    </form>
  </div>
</div>
