<div *ngIf="cart?.pizzas?.length">
  <table>
    <thead>
      <tr>
        <th *ngFor="let th of tableHeader"> {{ th.header}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pizza of cart?.pizzas; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ pizza.size.description }}</td>        
        <td>{{ pizza.price.toFixed(2) }}</td>
        <td>{{ pizza.beforePrice }}</td>
        <td>{{ pizza.offer }}</td>
        <td *ngFor="let topp of getToppings(pizza)"> {{ topp}}</td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noPizzas>
  <div class="centered">No pizzas in the cart.</div>
</ng-template>
